
<h1>Create a Team and Heroes!</h1>
<form method="post" action="/teams">
  <label for="Team Name"> Item</label>
  <input id="team[name]" type="text" name="team[name]"/>
  <label for="Team Motto"> Item</label>
  <input id="team[name]" type="text" name="team[name]"/>
  <h2>Hero 1</h2>
  
</form>