
<h1>Create a Team and Heroes!</h1>
<form method="post" action="/super_hero">
   <label for="name"> Item</label>
   <input type="text" id="item" name="item">
   <input id="submit" type="submit" value="Checkout">
</form>